body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#casilleros-container {
    margin-top: 20px;
}

.grid-casilleros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.boton-casillero {
    width: 100px;
    height: 100px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton-casillero:hover {
    opacity: 0.8;
}

.boton-casillero:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


button {
    margin: 15px 5px;
    padding: 5px 10px;
    font-size: 14px;
}
