/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* Espacio entre las cards */
}

/* Estilos para cada card */
.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.card:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.icon {
    font-size: 50px; /* Tamaño del ícono */
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}
