:root {
    --primary-color: #008033; /* Verde SENA */
    --secondary-color: #F58220; /* Naranja SENA */
    --danger-color: #DC3545;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --table-header-bg: var(--danger-color);
    --table-header-text: var(--background-color);
    --button-bg: var(--secondary-color);
    --button-hover-bg: #D9731E;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 20px;
}

.reportes {
    max-width: 1200px;
    margin: 0 auto;
}

.reportes__title {
    text-align: center;
    color: var(--text-color);
}

.reportes__button {
    background-color: var(--button-bg);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.reportes__button:hover {
    background-color: var(--button-hover-bg);
}

/* Tabla */
.reportes__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reportes__table thead {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
}

.reportes__table th,
.reportes__table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.reportes__table tbody tr:nth-child(even) {
    background-color: #F8D7DA; /* Rojo claro */
}

.reportes__table tbody tr:hover {
    background-color: #F5C6CB; /* Rojo más intenso */
}
