/* estilos de zonas.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2; /* Color de fondo claro */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 20px; /* Espacio interno */
}

h1 {
    color: #007BFF; /* Color del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

#zonas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las zonas horizontalmente */
    gap: 15px; /* Espacio entre botones */
    margin-top: 20px;
}

.boton-zona {
    width: 150px;
    height: 150px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF; /* Color del botón */
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Bordes redondeados */
    display: flex; /* Usa flexbox para centrar el texto */
    align-items: center; /* Centra verticalmente el texto */
    justify-content: center; /* Centra horizontalmente el texto */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.boton-zona:hover {
    background-color: #0056b3; /* Color del botón al pasar el cursor */
}

/* Estilos para el botón de cerrar sesión */
.boton-cerrar-sesion {
    margin-top: 20px; /* Espacio arriba del botón */
    padding: 10px 20px; /* Espacio interno */
    font-size: 16px; /* Tamaño de la fuente */
    color: #fff; /* Color del texto */
    background-color: #dc3545; /* Color del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.boton-cerrar-sesion:hover {
    background-color: #c82333; /* Color del botón al pasar el cursor */
}

/* Media queries para responsividad */
@media (max-width: 600px) {
    .boton-zona {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para el título */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .boton-zona {
        width: 130px;
        height: 130px;
        font-size: 17px;
    }
}

@media (min-width: 901px) {
    .boton-zona {
        width: 150px;
        height: 150px;
        font-size: 18px;
    }
}
