:root {
    --primary-color: #008033; /* Verde SENA */
    --secondary-color: #F58220; /* Naranja SENA */
    --danger-color: #DC3545;
    --background-color: #F2F2F2; /* Gris Claro */
    --text-color: #333333;
    --button-bg: var(--primary-color);
    --button-hover-bg: #006629; /* Verde más oscuro */
    --button-danger-bg: var(--danger-color);
    --button-danger-hover-bg: #C82333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0; /* Eliminamos el padding para un mejor centrado */
}

.zonas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    min-height: 100vh; /* Ocupa al menos el alto de la ventana */
    padding: 20px;
    box-sizing: border-box;
}

.zonas__title {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.zonas__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    width: 100%; /* Para que el grid ocupe todo el ancho disponible */
    max-width: 800px; /* Limitar el ancho máximo */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}

.zonas__button-zone {
    height: 100px;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--button-bg);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: flex; /* Para centrar el texto dentro del botón */
    align-items: center; /* Centrar verticalmente el texto */
    justify-content: center; /* Centrar horizontalmente el texto */
    transition: background-color 0.3s;
}

.zonas__button-zone:hover {
    background-color: var(--button-hover-bg);
}

.zonas__button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--button-danger-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.zonas__button:hover {
    background-color: var(--button-danger-hover-bg);
}

/* Media queries para responsividad */
@media (max-width: 600px) {
    .zonas__title {
        font-size: 1.5rem;
    }

    .zonas__button-zone {
        height: 80px;
        font-size: 0.9rem;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .zonas__title {
        font-size: 1.8rem;
    }

    .zonas__button-zone {
        height: 90px;
        font-size: 1rem;
    }
}

@media (min-width: 901px) {
    .zonas__title {
        font-size: 2rem;
    }

    .zonas__button-zone {
        height: 100px;
        font-size: 1.1rem;
    }
}
