*{
    margin: 0;
    padding: 0;
    
}


.body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
}



.main{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 0 20px;
    
}

.container{
    background: url(fondo2.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

.card-container{
    
    display: flex;
    height: 70vh;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    border: solid 1px #000000 ;
    gap: 6px;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #dbdbdb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}